body{
    background: #f1f5f6;
}
#header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:48px;
    background:#8E488E;
    z-index:10;
    p{
    	height:100%;
    	position:absolute;
    	left:50px;
    	right:50px;
    	text-align:center;
    	line-height:58px;
    	z-index:10;
    	color:#fff;
    	font-size:22px;
    }
    i{
    	position:absolute;
    	top:0;
    	right:0;
    	width:50px;
    	height:100%;
    	line-height:58px;
    	text-align:center;
    	color:#fff;
    	font-size:22px;
    }
}
#content{
    width:100%;
    position:absolute;
    top:48px;
    margin-bottom:54px;
    
    >img:nth-child(2){
        width:100%;
        height:64px;
    }
    >a{
        img{
            width:100%;
            height: 94px;
        }
    }
    #type{
        width:100%;
        padding:5px 0;
        li{
            width:50%;
            float:left;
            padding:3px;
            img{
                width:99%;
                height:93px;
            }

        }
    }
    #sale{
        float:left;
        width:100%;
        li{
            img{
                width:100%;
                height:176px;
            }

        }
    }
    >img:nth-child(6){
        width:100%;
        height:47px;
    }
    #productList{
        width:100%;
        li{
            background: #fff;
            width: 100%;
            height:184px;
            margin-bottom:10px;
            a{
                display: block;
                width:100%;
                height:130px;
                padding:3px 10px;
                img{
                    width:100%;
                    height:100%;
                }
            }
            em{
                display: block;
                width:100%;
                height:20px;
                padding:3px 10px;
                color:#616b7f;
                font-size: 14px;
            }
            i{
                display: block;
                width: 100%;
                height:22px;
                color:#e80080;
                font-size: 16px;
                padding:3px 10px;
            }
        }
    }

}
#footer{
    width:100%;
    height:54px;
    position:fixed;
    background:#fff;
    bottom:0;
    li{
        width:25%;
        float: left;
        font-size:12px;
        text-align: center;
        height:54px;
        position:relative;
        a{
            color:#666;
            :hover{
                text-decoration: none;
            }
            i{
                font-size:26px;
                display: block;
                height:30px;
                line-height: 30px;
            }
            span{
                display: block;
                line-height:12px;

            }  
        }
        

    }
}